// remove Default style
body {
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
    a {
        color: inherit;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
/**
 * generate rem size
 * @param  {number} $pxsize
 * @return {string}
 */
 @function rem($pxsize) {
    @return ($pxsize/16) + rem;
}

h1{
    font-size: rem(100);  
}
